.content-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
}

.thumbnail {
    border-radius: 10px;
    border: 3px solid transparent;
    cursor: pointer;
    transition: border-color 0.25s;
    max-width: 15rem;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.thumbnail:hover {
    border-color: #646cff;
}