.sidebar-nav {
    width: 200px;
    height: calc(100vh - 80px);
    display: flex;
    position: fixed;
    top: 80px;
    left: -100%;
    transition: left 350ms;
    z-index: 999;
    flex-direction: column;
    overflow-y: auto;
    justify-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
}

.sidebar-nav.active {
    left: 0;
}

.sidebar-item {
    padding: 5px;
    cursor: default;
    min-height: 1.4em;
    border-radius: 5px;
    margin: 5px;
    justify-content: center;
}

.sidebar-item:hover {
    color: #f0bdff;
    background-color:#545463;
    cursor: pointer;
}

@media (max-width: 500px) {
    .sidebar-nav {
        top: 60px;
        height: calc(100vh - 60px);
    }
}
