.dropdown-menu {
    margin: 10px;
}

.dropdown-button {
    width: 200px;
    height: 32px;
}

.dropdown-container {
    height: fit-content;
    padding: 0px;
    border-radius: 5px;
    border-width: 0.5px; 
    border-color: var(--button-border-color);
    position: absolute;
    top: 110px;
    z-index: 1;
}

.dropdown-item button {
    width: 200px;
    height: 30px;
    border: none;
    background-color: transparent;
}

.dropdown-item:first-child {
    border-radius: 5px;
    border-color: var(--button-border-color);
    border-width: 1.5px;
    background-color: var(--button-color);
    border-style: solid;
    border-bottom: none;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dropdown-item:last-child {
    border-radius: 5px;
    border-color: var(--button-border-color);
    border-width: 1.5px;
    background-color: var(--button-color);
    border-style: solid; 
    border-top: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.dropdown-item {
    border-color: var(--button-border-color);
    border-width: 1.5px;
    background-color: var(--button-color);
    border-style: solid; 
    border-top: none;
    border-bottom: none;
}

.dropdown-item:hover {
    background-color:var(--button-hover-color);
    cursor: pointer;
}

.dropdown-item button:hover {
    color: var(--darkest-color);
}
