.nav-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.top-nav {
    background-color: var(--darkest-color);
    position: sticky;
    justify-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--top-nav-height);
    z-index: 1000;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}

.menu-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.title {
    font-size: 1.4em;
    margin: auto;
}

.view-button{
    margin: 20px;
    width: 120px;
}

.view-button-container{
    align-items: center;
    justify-content: center;
    gap: 3px;
    display: flex;
    flex-direction: row;
}

.dropdown-container {
    height: fit-content;
    padding: 0px;
    border-radius: 5px;
    border-width: 0.5px; 
    border-color: var(--button-border-color);
    position: absolute;
    z-index: 1; 
    top: 100%;
}

.dropdown-item button {
    width: 120px;
    height: 30px;
    border: none;
    background-color: transparent;
}

.dropdown-item:first-child {
    border-radius: 5px;
    border-color: var(--button-border-color);
    border-width: 1.5px;
    background-color: var(--button-color);
    border-style: solid;
    border-bottom: none;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dropdown-item:last-child {
    border-radius: 5px;
    border-color: var(--button-border-color);
    border-width: 1.5px;
    background-color: var(--button-color);
    border-style: solid; 
    border-top: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.dropdown-item {
    border-color: var(--button-border-color);
    border-width: 1.5px;
    background-color: var(--button-color);
    border-style: solid; 
    border-top: none;
    border-bottom: none;
}

.dropdown-item:hover {
    background-color:var(--button-hover-color);
    cursor: pointer;
}

.dropdown-item button:hover {
    color: var(--darkest-color);
}

.navbar-logo {
    display: flex;
    align-items: center;
    left: 0;
}

.maple-logo {
    width: 36px;
    height: 36px;
    padding-left: 8px;
}

@media (max-width: 500px) {
    .title {
        font-size: 1.2em;
    }
    
    .maple-logo {
        width: 25px;
        height: 25px;
        padding-left: 4px;
    }

    .menu-icon {
        width: 30px;
        height: 30px;
    }

    .view-button{
        margin: 10px;
        width: 80px;
        height: 30px;
        padding: 0px;
    }

    .dropdown-item button {
        width: 80px;
    }
}
