.menu-button {
    display: block;
    overflow: hidden;
    width: 75%;
    align-self: center;
    cursor: pointer;
}

.menu-button img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-button-container {
    display: flex;
    justify-content: center;
}