.video-background {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.video-container {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    top: 100%;
    transition: transform 0.3s ease;
}

.video-container.show {
    transform: translateY(-100%);
}

.video-player {
    width: 64vw;
    height: 36vw;
}

.close-video-button {
    margin-top: 10px;
    height: 40px;
    width: 80px;
}

@media (max-width: 767px) {
    .video-player {
        width: 100vw;
        height: 56vw;
    }
}